.gallery {
    width: 70vw;
    margin: auto;
    padding-top: 2%;

    &__heading {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;

        & h2 {
            font-size: 28px;
            font-weight: 300;
        }
    }

    &__box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
        grid-auto-rows: 360px;
        align-items: center; 
        justify-items: center;
    }

    &__image {
        position: relative;
        width: 450px;
        height: 300px;
        background-color: grey;
        overflow: hidden;

        & img {
            width: 450px;
            height: 300px;
            object-fit: cover;
            filter: brightness(85%);
            transform: scale(1);
            transition: all .8s cubic-bezier(.27,.53,.63,.95);

            &:hover {
                cursor: pointer;
                filter: brightness(65%);
                transform: scale(1.05);
            }
        }

        & h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #fff;
            font-weight: 300;
            pointer-events: none;
        }
    }

    &__button {
        text-align: center;
        padding: 4% 0 4% 0;

        & button {
            padding: 7px;
            border: 1px solid black;
            background-color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }
}