.menu {
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0 1% 0;

    &__logo {
        height: 100px;
        width: 200px;
    }

    &__list {
        position: relative;
        display: flex;
        font-size: 20px;
        font-weight: 300;
        list-style-type: none;

        & li:not(:last-child) {
            margin-right: 50px;
        }

        & li:nth-last-child(2) {
            margin-right: 20px;
        }

        & li:hover {
            cursor: pointer;
        }

        & li {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: calc(50% + 15px);
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #000;
                transform: scaleX(0);
                transform-origin: 100% 50%;
                transition: transform .5s cubic-bezier(.28,.38,0,.81);
            }

            &:hover::before {
                transform-origin: 0% 50%;
                transform: scaleX(1);
            }

            & a:link,
            & a:visited,
            & a:active {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.active-link::before {
    content: '';
    position: absolute;
    top: calc(50% + 15px);
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
}

.exact-link::before {
    content: '';
    position: absolute;
    top: calc(50% + 15px);
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
}