@mixin h3-to-subscribe {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: $font-primary-sc;
}

@mixin h4-and-p-to-subscribe {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 8px;
}

@mixin link-underscore {
    content: '';
    position: absolute;
    top: calc(50% + 1.5rem);
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-primary;
}

@mixin drop-menu-animation {
    .v-enter,
    .v-leave-to {
        opacity: 0;
        transform: translateY(-10%);
    }

    .v-enter-to,
    .v-leave {
        opacity: 1;
        transform: transalteY(0);
    }

    .v-enter-active, 
    .v-leave-active{
        transition: all .5s ease-out;
    }
}