.subscribe-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 70px 0 70px 0;

    &__instagram {
        width: 100%;
        border-right: 1px solid #000;
        
        & h3 {
            @include h3-to-subscribe;
        }

        & h4 {
            @include h4-and-p-to-subscribe;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__newsletter {
        padding: 20px;

        & h3 {
            @include h3-to-subscribe;
        }

        & p {
            @include h4-and-p-to-subscribe;
        }
    }

    &__input {
        padding: 20px;

        & form {
            position: relative;

            &:hover {
                cursor: pointer;
            }

            & input {
                border: none;
                border-bottom: 1px solid #000;
                z-index: 1;
                padding: 8px;
                opacity: 0.4;
                transition: all .3s;

                &:focus {
                    outline: none;
                    opacity: 1;

                    & + label {
                        opacity: 0;
                    }
                }
            }

            & label {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-25%, -50%);
                font-weight: 300;
                opacity: 0.8;
                z-index: 2;
                transition: opacity .3s;
            }
        }
    }

    &__button {
        padding: 20px;

        & button {
            border: 1px solid #000;
            outline: none;
            padding: 15px 25px;
            background-color: #000;
            color: #fff;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all .5s;

            &:hover {
                cursor: pointer;
                background-color: #fff;
                color: #000;
            }
        }
    }
}