// COLOR VARIABLES
$color-black: #000;
$color-white: #fff;

$color-grey-light: #f9f9f9;
$color-grey: #d6d6d6;
$color-grey-medium: #b1b1b1;
$color-grey-dark: #4d4d4d;

$color-primary: #35221f;

$color-secondary: #b69782;
$color-secondary-light: #d9c7b2;

// FONT VARIABLES
$font-primary:  'Cormorant', serif;
$font-primary-sc:  'Cormorant SC', serif;
$font-secondary:  'Pinyon Script', 'Cormorant' , serif;

// SHADOWS
$main-shadow: 0 0 1rem rgba($color-primary, 0.7);

// BACKGROUNDS
$modal-background: rgba($color-black, 0.8);